* {
  box-sizing: border-box;
}
body {
  background: url("../images/fishnets-and-hearts.png");
  font-size: 18px;
  line-height: 34px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
}
.cont {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
h1,
h2,
h3,
p {
  margin-bottom: 5px;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3 {
  font-family: "Georgeia", Times, Times New Roman, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #d9d9d1;
  padding-bottom: 20px;
  color: #066da8;
}
h2 {
  color: #066da8;
}
h3 {
  color: #066da8;
}
h2,
h3 {
  font-size: 20px;
}
#nav1 {
  color: #066da8;
}
#nava {
  background-color: #d9d9d1;
}
.thetop {
  background: #fff;
  margin: 0 0 30px;
  z-index: 99;
  color: #fff;
  border-bottom: 2px solid #ccc;
  position: fixed;
}
#bar {
  width: 250px;
  height: 90px;
  background: #066da8m;
  font-family: "Georgia", Times, Times New Roman, sans-serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}
nav {
  margin-top: 25px;
}
nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
}
nav a:first-child {
  border-left: 0 none;
}
#main-one {
  padding-top: 130px;
}
.main-box {
  background: #fff;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  border: 1px solid #ddd;
}
#short_form {
  font-family: Arial, Times, serif;
  font-size: 0.75em;
  text-align: justify;
  font-weight: bold;
  line-height: 1.2;
}
.para {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: justify;
}
.testim1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: justify;
  background-color: #e1ebee;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.testim2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: justify;
  background-color: #dfe8ef;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.wes_img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
.sidebar {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  border: 1px solid #ddd;
  margin-block: 20px;
}
.sidebar,
h2,
h3 {
  border-bottom: 2px solid #d9d9d1;
  padding-bottom: 10px;
  margin-bottom: 5px;
  line-height: 22px;
}
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
.social:last-child {
  margin-right: 0;
}
footer {
  background: #666;
  color: #fff;
  padding: 30px 0;
  clear: both;
  border-top: 8px solid #4aaaa5;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}
.work {
  width: 274px;
  overflow: auto;
  position: relative;
  margin: 20px 50px 25px;
}
.work:nth-child(even) {
  margin-right: 40px;
}
.work img {
  width: 100%;
  border: 0 none;
}
.work h3 {
  border-bottom: 0;
  background: #066da8;
  color: #fff;
  text-align: center;
  bottom: 20px;
  padding: 15px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 300;
}
.boximage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
#contact-form ul {
  margin-bottom: 20px;
}
#contact-form li {
  margin-bottom: 10px;
}
#connect {
  background-color: #f7e0e7;
}
.inside {
  margin-left: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px;
}
.dialogue {
  border: 15px solid #ccc;
  padding: 20px;
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background: #066da8;
  border: 0 none;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
}
